.table {
    background-color: transparent !important;
    color: var(--text-color);
    border: none;
    margin-bottom: 0;
}

.table th {
    background-color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: normal;
    padding: 1rem;
    text-align: center;
}

.table td {
    vertical-align: middle;
    padding: 1rem;
    border-color: var(--border-color);
    text-align: center;
    background-color: var(--card-bg);
}

.table-responsive {
    background-color: var(--card-bg) !important;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    padding: 0;
    border: 1px solid var(--border-color);
}
